<script type="text/javascript">
    <%
        var a = 0;
        var label_list="";
        var data_list="";

        for (var i = 0 ; i < data.length; i++){
            label_list += data[i].iot_date.getSeconds() + ", ";
            data_list += data[i].iot_data +  ", ";
        }

        label_list.substring(0,label_list.length -2);
        data_list.substring(0,data_list.length -2);
    %>
    $(function () {
        var data = {
        labels: [ <%= label_list %> ],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(110,110,220,0.5)",
                strokeColor: "rgba(110,110,220,1)",
                pointColor: "rgba(110,110,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data:[ <%= data_list %>]
            }]
        };

        var option = {
        responsive: true,
        };

        // Get the context of the canvas element we want to select
        var ctx = document.getElementById("myChart").getContext('2d');
        var myLineChart = new Chart(ctx).Line(data, option); //'Line' defines type of the chart.

    });
</script>

<div class="container">
    <canvas id="myChart"></canvas>
</div>
