<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<%= title %> </title>

	<link href="/stylesheets/mdb.min.css" rel="stylesheet">

	<!-- 부트스트랩 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- /container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<script src="/javascripts/bootstrap.min.js"></script>

    <script type="text/javascript" src="/javascripts/mdb.min.js"></script>


</head>

<body>
	<!-- 내비게이터 -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<!-- 브랜드 이미지  -->

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
            </div>
			<!--/.navbar-collapse -->
		</div>
	</nav>

    <% if (data != null){ %>
        <%- include ./graph.ejs %>
        <div class="container text-right">
            <a href="/" class="btn btn-primary" role="button">Back</a>
        </div>
    <% } %>


    <!-- 리스트 -->

    <% if (id_list != null){ %>
        <div class="container">
            <div class="list-group">
                <% for (var i = 0; i < id_list.length ; i++){
                    var path = "/api/data/" + id_list[i];
                %>
                    <a href= <%= path %> class="list-group-item">id : <%=id_list[i]%></a>
                <% } %>
            </div>
        </div>
    <% } %>
        <div class="container">
            <hr>
            <footer>
                <p>201124456 Jinwoo Park</p>
            </footer>
        </div>


</body>

</html>
